* {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Roboto", sans-serif;
}

body img {
  overflow: auto;
}

.container {
  max-width: 1170px;
}

.nav-bar {
  min-height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #000000;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333333;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

body.nav-drawer-open .nav-menu {
  transform: translateX(0);
}

@media (max-width: 767px) {
  .nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 300px;
    height: 100%;
    gap: 0;
    right: 0px;
    top: 80px;
    z-index: 10;
    transform: translateX(300px);
    transition: 0.3s transform ease-in;
    background-color: #e3e3e3;
    color: #333333;
  }
}

@media (max-width: 767px) {
  .nav-item {
    margin: 16px 0;
  }
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #333333;
}

@media (max-width: 767px) {
  .nav-menu .nav-item {
    font-size: 20px;
    width: 100%;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo-container img {
  max-width: 90px;
  width: 100%;
  height: auto;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333333;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.nav-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  left: -100%;
  top: 70px;
  gap: 0;
  width: 50%;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .nav-items {
    display: block;
  }
}

.nav-items {
  margin: 16px 0;
}
@media (max-width: 767px) {
  .nav-items {
    display: block;
  }
}

.hero {
  display: flex;
  padding: 20px 20px 60px 20px;
  gap: 30px;
}
@media (min-width: 600px) {
  .hero {
    padding: 10px 20px 20px 20px;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 20px 20px 40px 20px;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .hero {
    padding: 20px 20px 60px 20px;
    gap: 30px;
  }
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 600px) {
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .hero-content {
    gap: 20px;
  }
}

.hero-content .hero-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 600px) {
  .hero-content .hero-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .hero-content .hero-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.hero-content h2 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 64px;
  text-transform: uppercase;
  color: #BDBDBD;
}
@media (min-width: 600px) {
  .hero-content h2 {
    font-size: 100px;
    line-height: 100px;
  }
}
@media (min-width: 768px) {
  .hero-content h2 {
    font-size: 52px;
    line-height: 52px;
  }
}
@media (min-width: 992px) {
  .hero-content h2 {
    font-size: 64px;
    line-height: 64px;
  }
}

.hero-content h3 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 64px;
  color: #000000;
}
@media (min-width: 600px) {
  .hero-content h3 {
    font-size: 100px;
    line-height: 100px;
  }
}
@media (min-width: 768px) {
  .hero-content h3 {
    font-size: 52px;
    line-height: 52px;
  }
}
@media (min-width: 768px) {
  .hero-content h3 {
    font-size: 64px;
    line-height: 64px;
  }
}

.hero img {
  width: 100%;
  height: auto;
  justify-self: flex-end;
}

.about {
  display: flex;
  flex-direction: row;
  padding: 60px 20px 60px 20px;
}
@media (min-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
  }
}
@media (min-width: 992px) {
  .about {
    padding: 60px 20px;
  }
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 100%;
  gap: 30px;
  background-color: #FBFBFB;
}
@media (min-width: 600px) {
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 800px;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .about-content {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}

.about-content .about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  gap: 20px;
}
@media (min-width: 600px) {
  .about-content .about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .about-content .about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 30px 0px;
    width: 400px;
    gap: 20px;
  }
}

.about-content .about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  width: 100%;
  gap: 30px;
}
@media (min-width: 600px) {
  .about-content .about-image {
    gap: 15px;
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .about-content .about-image {
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .about-content .about-image {
    width: 400px;
    gap: 30px;
  }
}

.about-content .about-image img {
  max-width: 270px;
  width: 100%;
  height: auto;
}

.about-content .about-image .col1-imgs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 600px) {
  .about-content .about-image .col1-imgs {
    display: flex;
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .about-content .about-image .col1-imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.about-content .about-image .col2-imgs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  max-height: 345px;
  height: 100%;
}

.about-content .about-text h2 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 64px;
  color: #BDBDBD;
}
@media (min-width: 600px) {
  .about-content .about-text h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .about-content .about-text h2 {
    font-size: 52px;
    line-height: 52px;
  }
}
@media (min-width: 992px) {
  .about-content .about-text h2 {
    font-size: 64px;
    line-height: 64px;
  }
}

.about-content .about-text p {
  max-width: 400px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 25px;
  color: #000000;
}
@media (min-width: 600px) {
  .about-content .about-text p {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .about-content .about-text p {
    font-size: 16px;
    line-height: 20px;
  }
}

.main-section {
  display: flex;
  padding: 30px 20px;
}

.main-section .main-section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header-text {
  max-width: 880px;
  width: 100%;
}

.main-content-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
@media (min-width: 600px) {
  .main-content-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .main-content-texts {
    gap: 40px;
  }
}
@media (min-width: 992px) {
  .main-content-texts {
    gap: 60px;
  }
}

.main-header-text h2 {
  display: flex;
  justify-content: flex-start;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0;
  color: #BDBDBD;
}
@media (min-width: 600px) {
  .main-header-text h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .main-header-text h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 52px;
  }
}
@media (min-width: 992px) {
  .main-header-text h2 {
    font-size: 64px;
  }
}

.main-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .main-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .main-text-container {
    gap: 187px;
  }
}

.main-text-container .main-text1, .main-text-container .main-text2 {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
@media (min-width: 600px) {
  .main-text-container .main-text1, .main-text-container .main-text2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .main-text-container .main-text1, .main-text-container .main-text2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .main-text-container .main-text1, .main-text-container .main-text2 {
    gap: 30px;
  }
}

.main-text1 h1, .main-text2 h1 {
  width: 104px;
  font-size: 200px;
  font-weight: 900;
  line-height: 100%;
  color: #F2F2F2;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .main-text1 h1, .main-text2 h1 {
    font-size: 80px;
    width: 50px;
  }
}
@media (min-width: 768px) {
  .main-text1 h1, .main-text2 h1 {
    font-size: 150px;
    width: 80px;
  }
}
@media (min-width: 992px) {
  .main-text1 h1, .main-text2 h1 {
    font-size: 200px;
    width: 104px;
  }
}

.main-text-container .main-text1 p, .main-text-container .main-text2 p {
  display: flex;
  align-items: flex-start;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}
@media (min-width: 600px) {
  .main-text-container .main-text1 p, .main-text-container .main-text2 p {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .main-text-container .main-text1 p, .main-text-container .main-text2 p {
    font-size: 16px;
    line-height: 25px;
    max-height: 144px;
  }
}
@media (min-width: 992px) {
  .main-text-container .main-text1 p, .main-text-container .main-text2 p {
    font-size: 21px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .main-text-container .main-text1 p, .main-text-container .main-text2 p {
    font-size: 22px;
    line-height: 36px;
  }
}

@media (min-width: 600px) {
  .main-text-container .main-text1 p {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .main-text-container .main-text1 p {
    max-width: 200px;
  }
}
@media (min-width: 992px) {
  .main-text-container .main-text1 p {
    max-width: 279px;
  }
}

@media (min-width: 600px) {
  .main-text-container .main-text2 p {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .main-text-container .main-text2 p {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .main-text-container .main-text2 p {
    max-width: 420px;
  }
}

.our-projects {
  display: flex;
  padding: 60px 20px;
}
@media (min-width: 600px) {
  .our-projects {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) {
  .our-projects {
    padding: 40px 20px;
  }
}

.our-projects .proj-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.proj-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
@media (min-width: 600px) {
  .proj-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .proj-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }
}

.proj-header-text h2 {
  font-size: 64px;
  font-weight: 300;
  color: #BDBDBD;
}
@media (min-width: 600px) {
  .proj-header-text h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .proj-header-text h2 {
    font-size: 52px;
    line-height: 52px;
  }
}
@media (min-width: 992px) {
  .proj-header-text h2 {
    font-size: 64px;
    line-height: 64px;
  }
}

.proj-imgs .row1-imgs, .row2-imgs {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (min-width: 600px) {
  .proj-imgs .row1-imgs, .row2-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .proj-imgs .row1-imgs, .row2-imgs {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
@media (min-width: 992px) {
  .proj-imgs .row1-imgs, .row2-imgs {
    gap: 30px;
  }
}

.proj-imgs {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (min-width: 600px) {
  .proj-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .proj-imgs {
    gap: 25px;
  }
}
@media (min-width: 992px) {
  .proj-imgs {
    gap: 30px;
  }
}

.row1-imgs img {
  width: 100%;
}

.row1-imgs .proj-img1 {
  filter: brightness(55%);
}

.proj1-overlay-text {
  position: absolute;
  padding: 48px 258px 79px 79px;
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  color: #FFFFFF;
}
@media (min-width: 600px) {
  .proj1-overlay-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 90px;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .proj1-overlay-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 268px 79px 55px;
    gap: 15px;
    font-size: 40px;
    line-height: 25px;
  }
}
@media (min-width: 992px) {
  .proj1-overlay-text {
    padding: 48px 268px 79px 79px;
    font-size: 64px;
    line-height: 60px;
  }
}

.our-projects .proj-button-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.proj-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 600px) {
  .proj-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
}

.proj-button-container span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 20%;
  text-transform: uppercase;
  color: #FFFFFF;
}

img.arrow-icon {
  width: 24px;
}

.proj-button-container {
  padding: 0px 15px;
  width: 221.71px;
  height: 71px;
  background-color: #333333;
}

.contact-section {
  display: flex;
  padding: 60px 20px 60px 20px;
}
@media (min-width: 600px) {
  .contact-section {
    padding: 30px 20px;
  }
}
@media (min-width: 768px) {
  .contact-section {
    padding: 40px 20px;
  }
}

.contact-image img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px) {
  .contact-image img {
    width: 749px;
    height: 369px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contact-section .contact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.contact-section .contact-content h2 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 22px;
  color: #BDBDBD;
}
@media (min-width: 600px) {
  .contact-section .contact-content h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .contact-section .contact-content h2 {
    font-size: 52px;
    line-height: 52px;
  }
}

.contact-section .contact-form {
  display: flex;
}
@media (min-width: 768px) {
  .contact-section .contact-form {
    align-items: stretch;
    width: 100%;
  }
}

.grouped-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 600px) {
  .contact-form-container {
    padding: 0px 20px;
  }
}
@media (min-width: 768px) {
  .contact-form-container {
    display: flex;
    align-items: center;
    padding: 0px 20px;
  }
}
@media (min-width: 992px) {
  .contact-form-container {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 391px;
  }
}

.contact-section .contact-form .grouped-form input {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  background-color: #F3F3F3;
}
@media (min-width: 600px) {
  .contact-section .contact-form .grouped-form input {
    height: 40px;
  }
}
@media (min-width: 768px) {
  .contact-section .contact-form .grouped-form input {
    width: 100%;
    height: 45px;
  }
}

@media (min-width: 768px) {
  .contact-section .contact-form .grouped-form {
    width: 100%;
  }
}

.contact-message {
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: #F3F3F3;
}
@media (min-width: 600px) {
  .contact-message {
    height: 130px;
  }
}
@media (min-width: 768px) {
  .contact-message {
    height: 147px;
  }
}

.contact-message {
  display: block;
  resize: none;
}

.contact-section .contact-form .grouped-contacts, .grouped-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
@media (min-width: 600px) {
  .contact-section .contact-form .grouped-contacts, .grouped-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .contact-section .contact-form .grouped-contacts, .grouped-form {
    gap: 10px;
  }
}

.contact-section .contact-form {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  gap: 30px;
}
@media (min-width: 600px) {
  .contact-section .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .contact-section .contact-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .contact-section .contact-form {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
  }
}

.contact-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 77px;
}
@media (min-width: 600px) {
  .contact-button-container {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .contact-button-container {
    margin-top: 77px;
  }
}
@media (min-width: 992px) {
  .contact-button-container {
    margin-top: 77px;
  }
}

.contact-button-container span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 20%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contact-content .contact-button-container {
  padding: 0px 15px;
  width: 221.71px;
  height: 71px;
  background-color: #333333;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #2C2C2C;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 600px) {
  .footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }
}
@media (min-width: 768px) {
  .footer .footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }
}

.footer-content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
@media (min-width: 600px) {
  .footer-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
@media (min-width: 768px) {
  .footer-content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
}

.information, .contacts-info-container, .social-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
@media (min-width: 768px) {
  .information, .contacts-info-container, .social-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
}

.info-pages, .contacts-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 600px) {
  .info-pages, .contacts-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .info-pages, .contacts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.footer h2, .footer h3, .footer span {
  color: #FFFFFF;
}

.footer h3 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 24px;
}
@media (min-width: 600px) {
  .footer h3 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .footer h3 {
    font-size: 14px;
    line-height: 24px;
  }
}

.footer h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: 24px;
}
@media (min-width: 600px) {
  .footer h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .footer h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 24px;
}
@media (min-width: 600px) {
  .footer span {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .footer span {
    font-size: 14px;
    line-height: 24px;
  }
}

.footer .footer-logo img {
  max-width: 145px;
  max-height: 94px;
  width: 100%;
  height: 100%;
}

.footer .social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media (min-width: 768px) {
  .footer .social-media-icons {
    gap: 20px;
  }
}

.footer-address, .footer-tel, .footer-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
}

.footer .contact-information {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 600px) {
  .footer .contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .footer .contact-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

.contacts-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
@media (min-width: 600px) {
  .contacts-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .contacts-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu {
  padding: 60px 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .footer-menu {
    padding: 30px 20px;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 100%;
  color: rgba(200, 200, 200, 0.5);
}/*# sourceMappingURL=home.css.map */