$backgroundColor: #FFFFFF;
$pagesFontColor: #333333;
$fontColor: #000000;
$fontColorHeadings: #BDBDBD;
$fontColorBold: #F2F2F2;
$textOverlay: #FFFFFF;
$boxColor: #FBFBFB;
$formBackgroundColor: #F3F3F3;
$buttonColor: #333333;
$footerBackgroundColor: #2C2C2C;
$copyrightFontColor: #C8C8C880;

$fontFamily: "Roboto", sans-serif;

* {
  box-sizing: border-box;
}

html {
  background-color: $backgroundColor;
  color: $pagesFontColor;
  font-family: $fontFamily;
}

body img {
  overflow: auto;
}

.container {
  max-width: 1170px;
}

.about {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 20px;
}

.main-section {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  padding: 20px;
}

.our-projects {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  padding: 20px;
}

.contact-section {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  padding: 20px;
}

.footer {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container img {
  max-width: 90px;
  width: 100%;
  height: auto;
}

.pages {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 20%;
  font-weight: 400;
  text-transform: uppercase;
  flex-direction: row;
  gap: 2rem;
}

.hero {
  display: flex;
  padding: 20px 20px 120px 20px;
  gap: 30px;
}

.hero-content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.hero-content .hero-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero-content h2 {
  font-size: 64px;
  font-weight: 300;;
  letter-spacing: 0%;
  line-height: 64px;
  text-transform: uppercase;
  color: $fontColorHeadings;
}

.hero-content h3 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 64px;
  color: $fontColor;
}

.hero img {
  width: 100%;
  height: auto;
  justify-self: flex-end;
}

.about {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 465px;
  height: 100%;
  flex-direction: row;
  padding-bottom: 120px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-height: 435px;
  height: 100%;
  flex-direction: row;
  background-color: $boxColor;
}

.about-content .about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  width: 100%;
  gap: 20px;
}

.about-content .about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 50%; 
  width: 100%;
}

.about-content .about-image img {
  max-width: 270px;
  width: 100%;
  height: auto;
}

.about-content .about-image .col1-imgs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-content .about-image .col2-imgs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  max-height: 345px;
  height: 100%;
  gap: 20px;
}

.about-content .about-text h2 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 64px;
  color: $fontColorHeadings;
}

.about-content .about-text p {
  max-width: 400px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0%;
  line-height: 25px;
  color: $fontColor;
}

.main-section {
  display: block;
  max-height: 268px;
  height: 100%;
}

.main-section .main-section-content  {
  display: flex;
  flex-direction: column;
}

.main-header-text {
  max-width: 880px;
  width: 100%;
}

.main-content-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.main-header-text h2 {
  display: flex;
  justify-content: flex-start;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0;
  color: $fontColorHeadings;
}

.main-text-container {
  display: flex;
  justify-content: space-between;
  max-height: 114px;
  //margin: 20px;
}

.main-text-container .main-text1 {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 413px;
  width: 100%;
}

.main-text-container .main-text2 {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 570px;
}

.main-text-container .main-text1 p {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  max-width: 279px;
  width: 100%;
  max-height: 144px;
  height: 100%;
}

.main-text-container .main-text2 p {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  max-width: 420px;
  max-height: 144px;
}

.main-text-container h1 {
  font-size: 200px;
  font-weight: 900;
  color: $fontColorBold;
  margin: 0;
  line-height: 100%;;
  width: 104px;
}

.our-projects {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-projects .proj-content-container {
  display: flex;
  flex-direction: column;
}

.proj-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.proj-header-text h2 {
  font-size: 64px;
  font-weight: 300;
  color: $fontColorHeadings;
}

.proj-imgs .row1-imgs, .row2-imgs {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.proj-imgs{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.row1-imgs img {
  width: 100%;
}

.row1-imgs .proj-img1 {
  filter:brightness(55%)
}

.proj1-overlay-text {
  position: absolute;
  transform: translate(79px, 48px);
  color: $textOverlay;
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
}

.our-projects .proj-button-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.proj-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.proj-button-container span {
  color: $backgroundColor;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 20%;
  text-transform: uppercase;
}

img.arrow-icon\> {
  width: 24px;
}

.proj-button-container {
  width: 221.71px;
  height: 71px;
  padding: 0 15px;
  background-color: $buttonColor;
}

.contact-section {
  display: flex;
  padding-bottom: 120px;
}

.contact-section .contact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.contact-section .contact-content h2 {
  font-size: 64px;
  font-weight: 300;
  color: $fontColorHeadings;
  letter-spacing: 0%;
  line-height: 22px;
}

.contact-section .contact-form, .grouped-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-section .contact-form .grouped-form input {
  width: 391px;
  height: 45px;
  padding: 0 15px;
  background-color: $formBackgroundColor;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.contact-message {
  height: 147px;
  background-color: $formBackgroundColor;
}

.contact-section .contact-form .grouped-contacts, .grouped-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-section .contact-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.contact-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 77px;
}

.contact-button-container span  {
  color: $backgroundColor;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 20%;
  text-transform: uppercase;
}

.contact-content .contact-button-container {
  width: 221.71px;
  height: 71px;
  padding: 0 15px;
  background-color: $buttonColor;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $footerBackgroundColor;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.footer-content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.information, .contacts-info-container, .social-info-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.info-pages, .contacts-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer h2, .footer h3, .footer span {
  color: $backgroundColor;
}

.footer h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: 24px;
}

.footer span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 24px;
}

.footer .footer-logo img {
    max-width: 145px;
    max-height: 94px;
    width: 100%;
    height: 100%;
}

.footer .social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer-address, .footer-tel, .footer-email {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 19px;
}

.footer .contact-information {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu {
  padding: 60px 0;
  width: 100%;
  border-bottom: 1px solid rgba($backgroundColor, 0.2);
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  color: rgba($copyrightFontColor, 0.5);
}

